/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
     /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60tpx from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
   
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
 
   
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {

  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;

    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* slider aka carasoul */
  .content_big {

    height: 450px !important;
  }  
  .content_small {

    height: 220px !important;
  }

  /* text paragraph for forms*/
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
  }

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
   
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-back {
    transform: rotateX(180deg);
  }
  .bottom-left-card {
    position: relative;
    bottom: 40px;
    background: rgb(37, 37, 37);
    color: white;
    left: 10px;
    margin: 2px;
    padding: 5px;
    opacity: 80%;
  }

  /* side bar hover to expand one*/


  .sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    padding-left: 0px;
    top: 0;
    left: 0;
    background-color: rgb(34, 33, 33);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    white-space: nowrap;

}

.sidebar a {
    padding: 8px 8px 4px 32px;
    text-decoration: none;
  
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

.main_page_side {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
} */

@media screen and (max-width: 767px) {


  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 767px) {
     #nav_main_page_bar {

      margin-Left: 85px;
      }
}

@media screen and (min-width:767px){

  #page_comics_chapter {

    min-width: 720px;
  }
}

#main_side_bar_name {

padding-top: 10px;

}

.sidebar:hover{
  width: 250px;


}

.sidebar:hover #main_sidebar_block_2 {

  display: block;
}

#main_sidebar_block_2 {

  display: none;
}
.sidebar:hover #main_sidebar_block_1 {

  display: none;
}

/* search bar*/

#search_bar_lib {

  background-color: rgb(219, 219, 219);
  
  

}


/* Style the links inside the sidenav */
#mysidepopup_main a {
  position:absolute  ; /* Position them relative to the browser window */
  right: -180px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding-left: 18px; /* 15px padding */
  padding: 14px;

  width: 200px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mysidepopup_main a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */


#discord_popups_main {
  bottom: 80px;
  background-color: #2196F3; /* Blue */
}

#patreon_popups_main {
  bottom: 140px;
  background-color: #f44336; /* Red */
}

.color-base-main {
  background: rgb(37, 37, 37);

}
 /*carousel thing */
.lib-hidden { display : none; }

.lib-slides {
  width: 100%;
  
  max-height: 450px;
  max-width: 1140px;
 
 }